@import "tailwindcss";
@source "../../shared";

/* Hide Scrolbar */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  border-radius: 10px !important;
}

/* Custom Scroll Bar */
.custom-scrollbar-yellow::-webkit-scrollbar {
  width: 2px !important;
  /* Thinner width for a modern look */
}

.custom-scrollbar-yellow::-webkit-scrollbar-track {
  background: rgba(74, 44, 0, 0.2);
  border-radius: 10px !important;
  margin: 4px 0;
}

.custom-scrollbar-yellow {
  scrollbar-width: thin !important;
  scrollbar-color: #d08700 rgba(162, 161, 159, 0.062);
  border-radius: 10px !important;
}