# Dependencies
node_modules
**/node_modules

# Next.js build output
.next
**/.next
out
**/out

# Turbo cache
.turbo
**/.turbo

# Git & IDE
.git
.gitignore
.vscode
.agents
.claude

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db
