/* CSS For Footer */

.footer-section {
  /* background: linear-gradient(to bottom, #d32f2f, #7b1fa2); */
  background-color: black;
  color: white;
  padding-top: 35px;
}
.footer-logo {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  object-fit: cover;
}

/*old design */
.newsletter {
  background-color: #daa23e;
  color: #fff;
}

.newsletter {
  color: #fff;
  background-color: #daa23e;
  padding: 20px 40px !important;
  width: 70vw !important;
  border-radius: 50px;
  position: relative !important;
  left: auto !important;
  bottom: -40px !important;
  margin: 0 auto !important;
  text-align: center;
}

.newsletter-form input {
  border-radius: 50px;
}

.footer-main h6 {
  color: #daa23e;
}

.footer-main a {
  color: #fff;
  text-decoration: none;
}

.footer-main a:hover {
  color: #ffc96c;
}

.social-icons a {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}

.subscribe-btn {
  background: #daa23e;
  /* background: linear-gradient(to right, #ff9800, #f44336); */

  color: #fff !important;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.91rem !important;
}
