/* CSS For Header */
.logo {
  width: 170px;
  background: #fff;
  border-radius: 15px;
  padding: 9px;
  box-shadow: 0 4px 6px 3px #0000000d;
  margin-top: -60px;
}
.top-head {
  padding: 7px 0;
  background-image: linear-gradient(to right, #d08830, #daa23e);
  /*  background-image: linear-gradient(to right, #762782, #176593);*/
}
.top-text {
  margin: 0;
  font-size: 18px;
  color: #fff;
}
.top-menu-main li a {
  color: #000 !important;
  font-size: 16px;
  padding: 9px 15px !important;
}
.top-menu-main li a:hover {
  color: #702b83 !important;
}
.btn-link {
  background: #732882;
  color: #fff;
  width: 100%;
  padding: 14px 13px;
  border-radius: 100px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.btn-link img {
  margin-right: 5px;
  filter: brightness(0) invert(1);
}
.btn-link:hover {
  color: #fff;
  background: #186593;
}
ul.dropdown-menu {
  padding: 0;
}
.top-menu-main li ul.dropdown-menu li a {
  transition: 0.6s;
  border-bottom: solid 1px #7328821c;
}
.top-menu-main li ul.dropdown-menu li a:hover {
  background: #732882;
  color: #fff !important;
}
a.nav-link {
  color: black;
  padding: 9px 15px !important;
}
a.nav-link :hover {
  color: #702b83 !important;
  padding: 9px 15px !important;
}

.nav-link:focus,
.nav-link:hover {
  color: #702b83;
}

/**/
.lang-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
.lang-toggle {
  background: #030303;
  color: #ffffff;
  padding: 8px 13px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  font-size: 14px;
}
.lang-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  min-width: 120px;
  z-index: 10;
}

.lang-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.lang-menu a:hover {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Hover effect */
.lang-dropdown:hover .lang-menu {
  display: block;
}
/**/
.cart-top {
  color: #fff;
  font-size: 14px;
  position: relative;
}
.cart-top:hover {
  color: #fff;
}
.value {
  display: block;
  position: absolute;
  left: 5px;
  top: -12px;
  background: #fd0c38;
  width: 17px;
  height: 17px;
  border-radius: 100px;
  text-align: center;
  font-size: 10px;
}
/**/
.account-dropdown {
  position: relative;
  display: inline-block;
}

.account-btn {
  background: #030303;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 20px;
}
.account-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  min-width: 140px;
  z-index: 10;
}

.account-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.account-menu a:hover {
  background: #f1f1f1;
}

.account-dropdown.show .account-menu {
  display: block;
}
