@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-pl text-gray-900 bg-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-theme-orange hover:bg-theme-orange-dark text-white font-semibold py-2 px-6 rounded-full transition-all duration-300 shadow-md hover:shadow-lg;
  }
}
